In [1]:
pip install pandas requests fredapi

Requirement already satisfied: pandas in c:\users\ethan\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: requests in c:\users\ethan\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: fredapi in c:\users\ethan\anaconda3\lib\site-packages (0.5.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ethan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ethan\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ethan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ethan\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ethan\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ethan\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ethan\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ethan\anaconda3\lib\site-packages (from requests) (2024.7.4)
Requirement already satisfied: six>=1.5 in c:\users\ethan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import requests
from fredapi import Fred

In [3]:
API_KEY = 'UNRATE'

In [37]:
url = f'https://api.stlouisfed.org/fred/category?category_id=125&api_key=abcdefghijklmnopqrstuvwxyz123456&file_type=json'
response = requests.get(url)

In [43]:
MDUR = requests.get('https://fred.stlouisfed.org/series/MDUR')
PAUR = requests.get('https://fred.stlouisfed.org/series/PAUR')
VAUR = requests.get('https://fred.stlouisfed.org/series/VAUR')

In [44]:
MD = pd.DataFrame(MDUR)
PA = pd.DataFrame(PAUR)
VA = pd.DataFrame(VAUR)

In [45]:
print(MD)
print(PA)
print(VA)

                                                     0
0    b'<!DOCTYPE html>\n<html lang="en">\n<head>\n ...
1    b'             <title>Unemployment Rate in Mar...
2    b' []\n    </script>\n\n    <!-- Google Tag Ma...
3    b"sh({\n        'gtm.start':\n          new Da...
4    b"       j = d.createElement(s), dl = l != 'da...
..                                                 ...
571  b'ript>\n<script defer src=/assets/clipboard.j...
572  b'847.fileDownload.min.js></script>\n<script s...
573  b'\n  let today = new Date().toLocaleString("e...
574  b' $("#cit-date").html(today);\n</script>\n\n<...
575  b'tylesheet">\n</head>\n<script src=/assets/re...

[576 rows x 1 columns]
                                                     0
0    b'<!DOCTYPE html>\n<html lang="en">\n<head>\n ...
1    b'             <title>Unemployment Rate in Pen...
2    b'er = []\n    </script>\n\n    <!-- Google Ta...
3    b"].push({\n        'gtm.start':\n          ne...
4    b"],\n        j = d.createElement(s), dl = l !...
..                                                 ...
571  b'Download/1729022847.fileDownload.min.js></sc...
572  b'ext/javascript">\n  let today = new Date().t...
573  b'r:\'numeric\'});\n  $("#cit-date").html(toda...
574  b'.main.css rel="stylesheet">\n</head>\n<scrip...
575                                    b'/html>\n\n\n'

[576 rows x 1 columns]
                                                     0
0    b'<!DOCTYPE html>\n<html lang="en">\n<head>\n ...
1    b'             <title>Unemployment Rate in Vir...
2    b' []\n    </script>\n\n    <!-- Google Tag Ma...
3    b"sh({\n        'gtm.start':\n          new Da...
4    b"       j = d.createElement(s), dl = l != 'da...
..                                                 ...
572  b'.js/dist/1728399200.clipboard.min.js></scrip...
573  b' src=/graph/js/1729022847.bottomextra.min.js...
574  b'"en-US", {timeZone: "America/Chicago", month...
575  b'head>\n    <link href=/assets/research/fred-...
576  b'esearch/fred-graph-react/build/1728399202.ma...

[577 rows x 1 columns]

In [4]:
fred = Fred(api_key = 'd7841430d5388f5c4f78714ce1baf152')

In [18]:
series_ids = ['UNRATE', 'ALUR', 'AKUR', 'AZUR', 'ARUR', 'CAUR', 'COUR', 'CTUR', 'DEUR', 'FLUR', 'GAUR', 'HIUR', 'IDUR', 'ILUR', 'INUR', 'IAUR', 'KSUR', 'KYUR', 'LAUR', 'MEUR', 'MDUR', 'MAUR', 'MIUR', 'MNUR', 'MSUR', 'MOUR', 'MTUR', 'NEUR', 'NVUR', 'NHUR', 'NJUR', 'NMUR', 'NYUR', 'NCUR', 'NDUR', 'OHUR', 'OKUR', 'ORUR', 'PAUR', 'RIUR', 'SCUR', 'SDUR', 'TNUR', 'TXUR', 'UTUR', 'VTUR', 'VAUR', 'WAUR', 'WVUR', 'WIUR', 'WYUR']
dataframes = {}

In [19]:
for series_id in series_ids:
    dataframes[series_id] = fred.get_series(series_id)

In [20]:
df = pd.DataFrame()

for series_id, dataframe in dataframes.items():
    if df.empty:
        df = dataframe.to_frame(name=series_id)
    else:
        df = pd.merge(df, dataframe.to_frame(name=series_id), left_index=True, right_index=True, how='outer')

In [28]:
display(df)

,UNRATE,ALUR,AKUR,AZUR,ARUR,CAUR,COUR,CTUR,DEUR,FLUR,...,SDUR,TNUR,TXUR,UTUR,VTUR,VAUR,WAUR,WVUR,WIUR,WYUR
1948-01-01,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948-02-01,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948-03-01,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948-04-01,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948-05-01,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,4.0,3.0,4.5,3.4,3.4,5.2,3.8,4.3,3.9,3.3,...,2.0,3.0,4.0,2.9,2.1,2.7,4.9,4.2,2.9,2.9
2024-06-01,4.1,2.9,4.5,3.3,3.3,5.2,3.8,3.9,4.0,3.3,...,2.0,3.0,4.0,3.0,2.1,2.7,4.8,4.1,2.9,2.9
2024-07-01,4.3,2.8,4.5,3.4,3.3,5.2,3.9,3.6,4.1,3.3,...,2.0,3.0,4.1,3.2,2.1,2.7,4.9,4.2,3.0,2.9
2024-08-01,4.2,2.8,4.6,3.4,3.3,5.3,4.0,3.4,4.2,3.3,...,2.0,3.1,4.1,3.3,2.2,2.8,4.8,4.2,2.9,3.0
2024-09-01,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN